@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="~/Content/Site.css"/>
        <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    </head>

    <body>

        <header class="header">
            <div style="display: flex; padding: 10px; justify-content: space-between; align-content: center; align-items: center;">
                <img src="~/Images/logo.png" style="width: 100px;"/>
                <p class="header-title">Bolashaq saraiy</p>
                <p style="color: white; font-size: 20px; margin: 10px;">Salem, Ahmetov Ahmet</p>
            </div>
        </header>

        <div style="display: flex; justify-content: center; align-items: center; margin: 10px;">
            <form method="get" style=" display: flex; flex-direction: column; align-content: center; align-self: center;">
                <input type="text" placeholder="Название кружка" name="title" style="margin: 5px;"/>
                <input type="submit" class="btn btn-danger" value="Найти" style="margin: 5px;"/>
            </form>
        </div>

        <div class="grid">

            @foreach (var course in ViewBag.Courses)
             {
                <div class="gridItem">
                    <img src="@course.Image" style="width: 200px; margin-bottom: 10px;"/>
                    <div>
                        <p>Наименование: @course.Name</p>
                        <p>Количество свободных мест:  @course.ZayavkaCount/@course.PlaceCount</p>
                        <p>Стоимость: @course.PriceString</p>
                    </div>
                    <a style="text-decoration: none;" href="@Url.Action("Kruzhok", "Home", new {courseID = course.ID})">
                        <button class="btn btn-info">Подробнее..</button>
                    </a>
                </div>
             }

        </div>

    </body>

</html>