
@{
    ViewBag.Title = "Kruzhok";
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/Site.css"/>
        <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    </head>

    <body>

        <header class="header">
            <div style="display: flex; padding: 10px; justify-content: space-between; align-content: center; align-items: center;">
                <img src="~/Images/logo.png" style="width: 100px;" />
                <p class="header-title">Bolashaq saraiy</p>
                <p style="color: white; font-size: 20px; margin: 10px;">Salem, Ahmetov Ahmet</p>
            </div>
        </header>

        <div class="container">

            <label class="title">
                @ViewBag.Current.Name
            </label>

            <div class="imageContainer">

                <img src="@ViewBag.Current.Image"
                     style="width: 500px; margin: 30px auto;" />

            </div>

            <div style="display: flex; justify-content: space-around; margin: 20px;">

                <div style="margin: 20px;">
                    <p>Период обучения: @ViewBag.Current.StudyPeriodStart.ToString("dd/MM/yyyy") - @ViewBag.Current.StudyPeriodEnd.ToString("dd/MM/yyyy")</p>
                    <p>Код кружка: @ViewBag.Current.ID</p>
                    <p>Количество свободных мест: @ViewBag.Current.ZayavkaCount / @ViewBag.Current.PlaceCount</p>
                    <p>Стоимость: @ViewBag.Current.PriceString</p>
                </div>

                <div style="margin: 20px;">
                    <p>Возрастная категория: @ViewBag.Current.AgeClasses.Name</p>
                    <p>Отдел: @ViewBag.Current.Otdels.Name</p>
                    <p>Преподаватель: @ViewBag.Current.Users.FullName</p>
                </div>

            </div>

            <p style="margin: 20px;">
                @ViewBag.Current.Description
            </p>

            <a style="text-decoration: none;" href="@Url.Action("Payment", "Home", new {courseID = ViewBag.Current.ID})">
                @if (ViewBag.Current.Price != 0)
                {
                    <button class="btn btn-primary" style="margin: 0 20px 20px;">Оплатить и записаться</button>
                }
                else
                {
                    <button class="btn btn-primary" style="margin: 0 20px 20px;">Записаться</button>
                }
            </a>

        </div>

    </body>

</html>

